<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>30 Days of Laptops</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ page.keywords }}">
  <link rel="icon" type="image/png" href="img/favicon.png" />
  <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400|Merriweather:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="myApp" ng-controller="SampleCtrl">
  <div id="intro">
    <div class="graphic-wrap">
      <img src="img/header-graphics.png" />
    </div>
    <div class="intro-wrap">
      <p>
        <strong>Winter Break starts in 28 days!</strong>
         There are kids that would love to spend their vacations learning to code, but their families can’t afford computers.
      </p>

      <p>
        This holiday season, Codestarter is bringing together companies and the kids that make up the #futureoftech. By joining #30DaysofLaptops, you'll make a difference for <strong>one hopeful kid waiting to get started</strong>.
      </p>
  </div>
  </div>
  <div class="divider"> </div>
  <div id="explanation">
    <div class="container">
      <h3>Basically, this is a giant game of tag.</h3>
      <h2>Here’s how it works:</h2>
    </div>

    <div class="container">
      <div class="steps">
        <div class="step">
          <div class="step-num">1</div>
          <h4>Pledge to donate</h4>
          <p>Pledge now and <strong>we’ll follow up</strong> to finish your donation. Remember, you only have 24 hours from the time you’re tagged!</p>
        </div>

        <div class="step">
          <div class="step-num">2</div>
          <h4>Tag another company</h4>
          <p>The only way our #30DaysofLaptops works, is if you <strong>challenge another company</strong> to do the same in the next 24 hours.</p>
        </div>

        <div class="step">
          <div class="step-num">3</div>
          <h4>Share the news</h4>
          <p><strong>Tweet</strong> that your company has made an investment in the #futureoftech and gifted laptops to kid coders this year.
          <div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Pledged! Kids learning to code will get laptops this holiday season thanks to us and @codestarterorg #30daysoflaptops" data-via="" data-size="large" data-count="none" data-hashtags="" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
          </p>
        </div>
      </div>
    </div>

  </div>

  <div id="pledge">
    <div class="form-wrap">
      <h2>Pledge now!</h2>
      <form ng-submit="addPledge(email, company, laptopsPledged)" class="form-inline">
        <div class="form-group">
          <label>Your company</label>
          <input id="company" ng-model="company" class="form-control" required />
        </div>
        <div class="form-group">
          <label>Your email address (we'll keep it private)</label>
          <input id="email" ng-model="email" class="form-control"  required />
        </div>
        <div class="form-group">
          <label>How many laptops?</label>
          <input id="laptops" ng-model="laptopsPledged" class="form-control col-md-6" required type="number"/>
        </div>
        <button type="submit">Pledge</button>
      </form>
    </div>
  </div>

  <div id="pledges" class="container">
    <h2 id="total-pledges">{{totalLaptops()}}
      <span class="subhead">laptops pledged so far!</span>
    </h2>
    <div id="pledge-list">
      <div id="pledge-headers">
        <div class="calendar">&nbsp;</div>
        <div class="company">Company</div>
        <div class="laptops">Laptops</div>
      </div>
      <div class="group" ng-repeat="pledgeGroup in groupedPledges">
        <div class="pledge" ng-repeat="pledge in pledgeGroup | orderBy:pledgedAt">
          <div class="calendar">
            <img src="img/calendar-icon.png" />
            <span class="month">{{pledge.pledgedAt | date:"MMM" | uppercase }}</span>
            <span class="day">{{pledge.pledgedAt | date:"dd" }}</span>
          </div>
          <span class="company">{{pledge.company}}</span>
          <span class="laptops">{{pledge.laptops}}</span>
        </div>
      </div>
    </div>
  </div>

  <div id="background">
    <div class="divider"> </div>

    <div class="container">
      <h2>Why do kids need laptops?</h2>
      <h3>Increasing early access to computers and coding can change lives forever.</h3>

      <p>Here at Codestarter, we believe that everyone deserves the opportunity to learn. We crowdfund $250 laptops for kids that want to learn to code, but can't afford their own computer. Through partnerships with schools in underserved communities and organizations like CoderDojo, we distribute the laptops to kids and help get them started in coding classes. Want to learn more? Check out our website: <a href="https://codestarter.org">https://codestarter.org</a></p>
    </div>

    <div id="kids"></div>

    <div class="container">
      <p>The only way our #30DaysofLaptops will work, is if you pass this challenge on to another company within 24 hours and keep our game of tag going. Let’s use these next 30 days to get laptops to as many hopeful and excited kids as possible! </p>
      <p>For more information email <a href="mailto:rheanna@codestarter.org">rheanna@codestarter.org</a>.</p>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <h2>Brought to you by</h2>
      <div class="logo">
        <a href="https://codestarter.org"><img src="img/footer-logo.png" /></a>
      </div>
    </div>
  </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
  <script src="js/underscore.min.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/main.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44840072-7', 'auto');
      ga('send', 'pageview');
</script>
</body>
</html>
